{% extends "base.html" %}
</style>
</head>
<body>

<header>
  <h2>Weather App</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="http://127.0.0.1:5000">Today's weather</a></li>
      <li><a href="http://127.0.0.1:5000/machineLearning">Machine predition</a></li>
      <li><a href="http://127.0.0.1:5000/about">About</a></li>
    </ul>
  </nav>
  
  <article>
    <h1>Machine Learning</h1>
    <p>Here is where any machine learning weather predictions will go</p>
    <p>None here right now, but maybe one day</p>
  </article>
</section>

<footer>
  <p>copyright me :3</p>
</footer>

</body>
</html>
